# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Distribution / packaging
lib/

# venv
bin/
include/
pyvenv.cfg
pip-selfcheck.json

# resources
SRD-OGL_V5.1.pdf
5e-SRD-Monsters.json
data/

# Juptyer
share/
.ipynb_checkpoints/
